* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif, Arial
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: rgb(224, 233, 245);
}

/* Sidebar */
.sidebar {
    background-color: dodgerblue;
    color: white;
    height: 100%;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.2);
    flex: 1.25;
    max-width: 250px;
    flex-wrap: wrap;
    overflow: hidden;
}

.sidebar-head {
    display: flex;
    font-size: 21px;
    font-weight: 600;
    margin-top: 22.5px;
    align-items: center;
    justify-content: left;
}

#website-logo {
    height: 32px;
    padding-right: 4px;
    margin-left: 7%;
}

.sidebar-head:hover {
    cursor: pointer;
}

.website-menu {
    font-size: 15px;
    font-weight: 600;
    margin-top: 50px;
}

.website-menu-items-container {
    padding: 10px 15%;
    vertical-align: middle;
}

.icon {
    height: 16px;
    vertical-align: middle;
}

.website-menu-items {
    display: inline-block;
    vertical-align: middle;
    padding-left: 8px;
}

.website-menu-items-container:hover {
    background-color: rgb(71, 163, 255);
    cursor: pointer;
}

.account-menu {
    font-size: 15px;
    font-weight: 600;
    margin-top: 50px;
}

.account-menu-items-container {
    padding: 10px 15%;
    vertical-align: middle;
}

.account-menu-items {
    display: inline-block;
    vertical-align: middle;
    padding-left: 8px;
}

.account-menu-items-container:hover {
    background-color: rgb(71, 163, 255);
    cursor: pointer;
}

/* Actual content filled screen */
.non-sidebar-content {
    display: flex;
    flex-direction: column;
    flex: 4
}

/* Header */
.header {
    background-color: white;
    height: 160px;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.2);
}

.top-section {
    display: flex;
    height: 33%;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.search-bar {
    flex: 2;
    margin-left: 7%;
}

#search-button {
    background: url(icons/search-button.svg) no-repeat center;
    background-size: contain;
    border: none;
    height: 16px;
    width: 16px;
    padding-bottom: 3px;
}

#search-button:hover {
    cursor: pointer;
}

#search {
    display: inline-flex;
    background-color: rgb(224, 233, 245);
    border: none;
    border-radius: 20px;
    width: 80%;
    max-width: 400px;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
    margin-right: 7%;
}

#notification {
    background: url(icons/notification.svg) no-repeat center;
    background-size: contain;
    height: 20px;
    width: 20px;
    margin: 10px;
    border: none;
}

#notification:hover {
    cursor: pointer;
}

.profile-pic {
    background: url(profile-pic.jpeg) no-repeat center;
    background-size: contain;
    height: 40px;
    width: 40px;
    border: solid 0px;
    border-radius: 30px;
}

#username {
    font-size: 11px;
    font-weight: 600;
    margin-left: 10px;
}

.profile-pic:hover, .profile2:hover {
    cursor: pointer;
}

.bottom-section {
    display: flex;
    height: 77%;
    justify-content: space-between;
    align-items: center;
}

.profile2 {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 7%;
    overflow: hidden;
}

.profile-pic2 {
    background: url(profile-pic.jpeg) no-repeat center;
    background-size: contain;
    border: solid 0px;
    border-radius: 30px;
    margin-right: 5px;
    height: 65px;
    width: 65px;
    overflow: hidden;
}

.profile-greeting {
    font-weight: bold;
}

#greeting {
font-size: 12px;
}

.actions {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-right: 4.5%;
}

.actions>button {
    background-color: dodgerblue;
    color: white;
    border: solid 0px;
    border-radius: 20px;
    width: 65px;
    height: 35px;
    padding: 2px 0 2px 0;
    font-size: 13px;
    font-weight: bold;
    margin: 7px;
}

.actions>button:hover {
    background-color: rgb(71, 163, 255);
    cursor: pointer;
}
